{% extends "export_lsd/base.html" %}
{% block title %} Exportador LSD {% endblock title%}
{% block content %}

    <div class="pagetitle">
      <h1>Panel de Control</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'export_lsd:home' %}">Home</a></li>
          <li class="breadcrumb-item active">Panel de Control</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Empresas Card -->
        <div class="col-xxl-4 col-md-4">
          <div class="card info-card sales-card">

            <div class="filter">
              <a class="icon" href="{% url 'export_lsd:empresa_list' %}">
                <i class="fa-solid fa-pencil"></i>
              </a>
            </div>

            <div class="card-body">
              <h5 class="card-title">Empresas</h5>

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="fas fa-building"></i>
                </div>
                <div class="ps-3">
                  <h6>145</h6>
                </div>
              </div>
            </div>

          </div>
        </div><!-- End Empresas -->

        <!-- Empleados Card -->
        <div class="col-xxl-4 col-md-4">
          <div class="card info-card revenue-card">

            <div class="filter">
              <a class="icon" href="{% url 'export_lsd:empleado_list' %}">
                <i class="fa-solid fa-pencil"></i>
              </a>
            </div>

            <div class="card-body">
              <h5 class="card-title">Empleados</h5>

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="fas fa-user-friends"></i>
                </div>
                <div class="ps-3">
                  <h6>364</h6>
                </div>
              </div>
            </div>

          </div>
        </div><!-- End Empleados -->

        <!-- Presentaciones Card -->
        <div class="col-xxl-4 col-md-4">
          <div class="card info-card">

            <div class="card-body">
              <h5 class="card-title">Presentaciones</h5>

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class="fas fa-history"></i>
                </div>
                <div class="ps-3">
                  <h6>34</h6>
                  <span class="text-success small pt-1 fw-bold">12</span> <span class="text-muted small pt-2 ps-1">el último año</span>

                </div>
              </div>
            </div>

          </div>
        </div><!-- End Presentaciones -->

        <!-- Últimas presentaciones -->
        <div class="col-12">
          <div class="card top-selling overflow-auto">

            <div class="card-body pb-0">
              <h5 class="card-title">Últimas presentaciones</h5>

              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Empresa</th>
                    <th scope="col">Cant. Liquid.</th>
                    <th scope="col">Empleados</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a href="#" class="text-primary fw-bold">10</a></td>
                    <td>13/10/2022</td>
                    <td>Que lo que SRL</td>
                    <td>4</td>
                    <td>124</td>
                  </tr>
                  <tr>
                    <td><a href="#" class="text-primary fw-bold">10</a></td>
                    <td>13/10/2022</td>
                    <td>Que lo que SRL</td>
                    <td>4</td>
                    <td>124</td>
                  </tr>
                </tbody>
              </table>

            </div>

          </div>
        </div><!-- End Top Presentaciones -->

      </div>
    </section>

{% endblock content %}