{% extends 'export_lsd/list.html' %}
{% load static %}
{% block list_title %} Lista de Empleados{% endblock %}
{% block head_list %}
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 10%;">Id</th>
        <th scope="col" style="width: 10%;">Forma Pago</th>
        <th scope="col" style="width: 10%;">Conc.Sueldo</th>
        <th scope="col" style="width: 10%;">Conc.No Rem</th>
        <th scope="col" style="width: 10%;">Conc.SIJP</th>
        <th scope="col" style="width: 10%;">Conc.INSJJP</th>
        <th scope="col" style="width: 15%;">Opciones</th>
    </tr>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/empleado_list.js' %}"></script>
{% endblock %}