{% extends "export_lsd/base.html" %}
{% block title %} Exportador Básico {% endblock title%}
{% block content %}

    <form method="post" enctype="multipart/form-data" class="mb-3">  
        {% csrf_token %}
        <p class="mb-1">Seleccione configuración de Exportación Básica</p>
        <select class="form-select mb-3" aria-label="Seleccione Configuración Exportación">
            {% for item in basic_export_config %}
                <option value="{{ item.name }}">{{ item.name }}</option>
            {% endfor %}
        </select>

        <p>Seleccione el txt tradicional para exportación de F.931</p>
        <input class="form-control mb-3" type="file" id="formFile" name="txtfile">

        {% comment %} TODO: Process file {% endcomment %}
        <a href="#" class="btn btn-primary btn-flat my-3">
            <i class="fa-solid fa-arrow-right-from-arc"></i> Procesar
        </a>

    </form>

{% endblock content %}

{% block footer_js %}
    <script>
        {% if error %}
            var errors = '';
            errors = '{{ error }}';
            Swal.fire({
                title: 'Error!',
                text: errors,
                icon: 'error'
            });
        {% endif %}
{% endblock %}